pkgbase = robrix
	pkgdesc = A powerful multi-platform Matrix chat client written from scratch in Rust
	pkgver = 1.0.0alpha.2
	pkgrel = 1
	url = https://github.com/project-robius/robrix
	arch = x86_64
	license = MIT
	license = Apache-2.0
	license = OFL-1.1
	license = CC-BY-3.0
	depends = glibc
	depends = libgcc
	depends = libx11
	depends = libxcursor
	depends = libxkbcommon
	depends = wayland
	depends = alsa-lib
	depends = libpulse
	depends = openssl
	depends = libglvnd
	depends = dbus
	depends = xdg-utils
	depends = ca-certificates
	depends = hicolor-icon-theme
	optdepends = xdg-desktop-portal-impl: native file picker, e.g. xdg-desktop-portal-gtk or -kde
	optdepends = zenity: file picker fallback when no portal backend is running
	provides = robrix-bin=1.0.0alpha.2
	conflicts = robrix-bin
	conflicts = robrix-git
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/project-robius/robrix/releases/download/v1.0.0-alpha.2/robrix_1.0.0-alpha.2_x86_64.tar.gz
	sha256sums_x86_64 = 41bfd50ddfe2027cc94ab683e3bf7d19ae37b88405e5d6b414a744fe78283a07

pkgname = robrix
