<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Robrix uses your microphone for speech-to-text dictation.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Robrix uses speech recognition to let you dictate messages that you can review before sending.</string>
</dict>
</plist>
